* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
  font-family: 'Raleway', sans-serif;
}

body {
  font-size: 1.6rem;
}

.no-user {
  padding: 1rem;
  &__btn {
    margin-top: 0.5rem;
    border: none;
    padding: 1rem 1.5rem;
    background-color: $color7;
    color: $color3;
    transition: all ease 0.1s;
    outline: none;
    &:hover {
      background-color: $color8;
      color: $color1;
    }
  }
  &__error {
    margin-top: 2rem;
    color: $color9;
  }
}